.home {
  background: #000000; /* fallback for old browsers */
  background: linear-gradient(to right, #000000, #434343);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  align-items: center;
  overflow: hidden;

  .content {
    padding: 0 20px;
    background: -webkit-linear-gradient(#fcf3cf, #cd6155);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
  }

  h2 {
    font-size: 40px;
    margin-top: 0;
  }

  h3 {
    font-size: 30px;
  }

  img {
    height: 70%;
    width: auto;
    display: block;
    margin: auto;
  }
}
