@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;0,600;1,700&display=swap");

:root {
  --primary: #fcf3cf;
  --secondary: #5d6d7e;
  --tertiary: #2c3e50;
  --error: #cd6155;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: "Urbanist";
  margin: 0;
  height: 100%;
  overflow: auto;
  min-height: 100%;
  background-size: auto 100%;
}
